# Python
__pycache__/
*.py[cod]
*$py.class
backend/venv/
venv/
backend/.pytest_cache/
downloads/*
!downloads/.gitkeep
backend/downloads/*
backend/data/*.json

# Node
frontend/node_modules/
node_modules/
frontend/dist/
dist/

# Logs & Environment
*.log
.env

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
